<ion-toolbar>
  <ion-menu-button slot="end"></ion-menu-button>
  <ion-title class="ion-text-center"
    >{{"Shared.Details" | translate}} of {{character.name}}</ion-title
  >
  <ion-button fill="clear" slot="start" [routerLink]="['/characters']">
    <ion-icon name="chevron-back-outline"></ion-icon>
    {{"Shared.Back"|translate}}
  </ion-button>
</ion-toolbar>

@if(error){
<ion-label color="danger"> ERROR : {{error}}</ion-label>
} @else{

<!-- ! SI LA VARIBALE DICE QUE SE ESTA CARGANDO MOSTRAR SKELETONQ -->
<ion-content>
  <ion-card class="ion-align-self-center">
    <img
      [alt]="character.name"
      class="ImgCharacter ion-padding"
      [src]="character.image"
    />
    <ion-card-header>
      <ion-card-title>
        {{"CharactersPage.AboutCharacters.Name" | translate}} :
        {{character.name}}</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      <ion-label>
        {{"CharactersPage.AboutCharacters.Status" | translate}} :
        <ion-label [color]="colorStatus">{{character.status}}</ion-label>
      </ion-label>

      <br />
      <ion-label>
        {{"CharactersPage.AboutCharacters.Specie" | translate}} :
        {{character.status}}
      </ion-label>

      <br />
      <ion-label>
        {{"CharactersPage.AboutCharacters.Type" | translate}}: {{character.type
        === '' ? 'Empty' : character.type}}
      </ion-label>

      <br />
      <ion-label>
        {{"CharactersPage.AboutCharacters.Gender" | translate}}:
        <ion-label [color]="colorGender"> {{character.gender}}</ion-label>
      </ion-label>

      <br />
      <ion-label>
        {{"CharactersPage.AboutCharacters.PlanetOrigin" | translate}}:
        <ion-label color="success"> {{character.origin.name}}</ion-label>
      </ion-label>

      <br />
      <ion-label>
        {{"CharactersPage.AboutCharacters.UltimateLocation" | translate}}:
        <ion-label color="success"> {{character.location.name}}</ion-label>
      </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
}
