<ion-app>

  <app-menu-principal></app-menu-principal>

  <!--   <ion-item>
    <ion-toggle
      [(ngModel)]="isDark"
      (ionChange)="changeTheme()"
      justify="center"
      labelPlacement="start"
    >
    <label class="ion-hide"> . </label>

      @if (isDark) {
        <ion-icon color="danger" name="sunny-outline"></ion-icon>
      } @else {
        <ion-icon name="moon-outline"></ion-icon>
      }
    </ion-toggle>
  </ion-item>
 -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
