<!-- <ion-header [translucent]="true">
  <ion-toolbar class="ion-padding">
    <ion-title>Characters</ion-title>
    <ion-note>{{AllCharacter.length}}</ion-note>
  </ion-toolbar>
  <ion-toolbar>
    @if(!isConnected){
    <ion-title color="danger"> SIN CONEXION </ion-title>
    } {{filterSearch | json}}
  </ion-toolbar>
</ion-header> -->
<ion-menu-button slot="end"></ion-menu-button>
<ion-content class="ion-padding">
  @if(!isConnected){
  <ion-title color="danger">
    {{"Shared.WithoutConnection" | translate}}
  </ion-title>
  } {{filterSearch | json}}
  <ion-toolbar>
    <!--?                     NOMBRE                      -->
    <ion-searchbar
      (ngModelChange)="Search()"
      [(ngModel)]="filterSearch.name"
      [ngModelOptions]="{standalone:true}"
      placeholder="Search By Name"
    >
    </ion-searchbar>

    <ion-button
      (click)="isFilter=!isFilter"
      fill="clear"
      [color]="isFilter ? 'warning':'success'"
    >
      <!-- !          alta posibilidad de no funcionar -->
      {{isFilter ? 'Hide Filters' : 'Show Filters'}}
    </ion-button>
    @if(isFilter){
    <form class="ion-margin">
      <!--?                     STATUS                      -->
      <ion-select
        (ionChange)="Search()"
        [(ngModel)]="filterSearch.status"
        [ngModelOptions]="{standalone:true}"
        placeholder='{{"CharactersPage.AboutCharacters.Status" | translate}}'
        label='{{"CharactersPage.AboutCharacters.Status" | translate}}'
      >
        @for(status of objValuesToSearch.status;track $index ){ @if($first){
        <ion-select-option value=""
          >{{"Shared.All"|translate}}</ion-select-option
        >
        }
        <ion-select-option [value]="status">{{status}}</ion-select-option>
        }
      </ion-select>
      <!--?                     SPECIES                      -->
      <ion-select
        (ionChange)="Search()"
        [(ngModel)]="filterSearch.species"
        [ngModelOptions]="{standalone:true}"
        placeholder='{{"CharactersPage.AboutCharacters.Specie" | translate}}'
        label='{{"CharactersPage.AboutCharacters.Specie" | translate}}'
      >
        @for(specie of objValuesToSearch.species;track $index ){ @if($first){
        <ion-select-option value=""
          >{{"Shared.All"|translate}}</ion-select-option
        >
        }
        <ion-select-option [value]="specie">{{specie}}</ion-select-option>
        }
      </ion-select>
      <!--?                     GENDER                      -->
      <ion-select
        (ionChange)="Search()"
        [(ngModel)]="filterSearch.gender"
        [ngModelOptions]="{standalone:true}"
        placeholder='{{"CharactersPage.AboutCharacters.Gender" | translate}}'
        label='{{"CharactersPage.AboutCharacters.Gender" | translate}}'
      >
        @for(gender of objValuesToSearch.gender;track $index ){ @if($first){
        <ion-select-option value=""
          >{{"Shared.All"|translate}}</ion-select-option
        >
        }
        <ion-select-option [value]="gender">{{gender}}</ion-select-option>
        }
      </ion-select>
      <!--?                     TYPE                      -->
      <ion-select
        (ionChange)="Search()"
        [(ngModel)]="filterSearch.type"
        [ngModelOptions]="{standalone:true}"
        placeholder='{{"CharactersPage.AboutCharacters.Type" | translate}}'
        label='{{"CharactersPage.AboutCharacters.Type" | translate}}'
      >
        @for(type of objValuesToSearch.type;track $index ){ @if($first){
        <ion-select-option value=""
          >{{"Shared.All"|translate}}</ion-select-option
        >
        }
        <ion-select-option [value]="type">{{type}}</ion-select-option>
        }
      </ion-select>

      <!--?                     BUTTON                      -->
      <!-- <ion-button type="submit" fill="clear" color="success" (click)="Search()">
        Filter
      </ion-button> -->
      <!--?               F I N I S H       F I L T E R                      -->
    </form>
    }
  </ion-toolbar>

  <ion-list [inset]="true" class="container">
    @for (character of AllCharacter; track $index) {
    <ion-item class="item">
      <app-character [character]="character"></app-character>
    </ion-item>
    } @if (IsChargingMore) {
    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    }
    <ion-infinite-scroll (ionInfinite)="LoadMore($event)">
      <ion-infinite-scroll-content
        loadingText='{{"Shared.LoadingMore" | translate}}'
        loadingSpinner="dots"
      ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>
