<ion-header [translucent]="true">
  <ion-toolbar class="ion-padding">
    <ion-title>Characters</ion-title>
    <ion-note>{{AllCharacter.length}}</ion-note>
  </ion-toolbar>
</ion-header>

@if(!isConnected){
<ion-title color="danger"> SIN CONEXION </ion-title>
} {{filterSearch | json}}
<ion-content>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="filterSearch.name" placeholder="Search By Name" (input)="Search()">
    </ion-searchbar>
  </ion-toolbar>
  <ion-list [inset]="true" lines="full">
    @for (character of AllCharacter; track $index) {
    <ion-item>
      <app-character [character]="character"></app-character>
    </ion-item>
    } @if (IsChargingMore) {
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    }
    <ion-infinite-scroll (ionInfinite)="LoadMore($event)">
      <ion-infinite-scroll-content
        loadingText="Loading more"
        loadingSpinner="dots"
      ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>
